@import 'variables';

.cal-day-view {

  .cal-hour:nth-child(odd) {
    background-color: #fafafa;
  }

  .cal-hour-segment {
    height: 30px;
  }

  .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-hour:last-child .cal-hour-segment:not(:last-child) {
    border-bottom: thin dashed #e1e1e1;
  }

  .cal-time {
    font-weight: bold;
    padding-top: 5px;
  }

  .cal-hour-segment:hover {
    background-color: #ededed;
  }

  .cal-event {
    position: absolute;
    border: solid 1px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cal-event.cal-starts-within-day {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .cal-event.cal-ends-within-day {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .cal-hour-col-time,
  .cal-hour-col-events {
    float: left;
  }

  .cal-hour-col-time {
    width: 70px;
    border-left: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    text-align: center;
  }

  .cal-hour-col-events {
    position: relative;
    overflow-x: scroll;
    width: calc(100% - 70px);
    border-right: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
  }

  .cal-all-day-event {
    padding: 8px;
    border: solid 1px;
  }

}
