// Border Styles
$default-border: 1px solid #e1e1e1;

$br-top-right: 5px;
$br-top-left: 5px;
$br-bottom-right: 5px;
$br-bottom-left: 5px;

/// Background Colors
$cal-today-bg: #e8fde7;
$cal-days-bg: #ededed;
