<a
  href="https://github.com/mattlewis92/angular-calendar"
  class="github-corner d-none d-lg-block"
  ><svg
    width="80"
    height="80"
    viewBox="0 0 250 250"
    style="fill:#151513; color:#fff; position: fixed; top: 0; border: 0; right: 0; z-index: 100000"
  >
    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
    <path
      d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
      fill="currentColor"
      style="transform-origin: 130px 106px;"
      class="octo-arm"
    ></path>
    <path
      d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
      fill="currentColor"
      class="octo-body"
    ></path></svg></a
><style>
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
</style>

<nav
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
  [class.navbar-dark]="activeDemo?.darkTheme"
  [class.bg-dark]="activeDemo?.darkTheme"
  role="navigation"
>
  <a class="navbar-brand" href="#">Angular 6.0+ calendar</a>

  <button
    type="button"
    class="navbar-toggler"
    (click)="isMenuVisible = !isMenuVisible"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!isMenuVisible">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:;"> Demos </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/mattlewis92/angular-calendar#getting-started"
        >
          Getting started
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://mattlewis92.github.io/angular-calendar/docs/"
        >
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/mattlewis92/angular-calendar/tree/master/build-tool-examples"
        >
          Build tool examples
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-primary"
          href="https://twitter.com/mattlewis92_"
          target="_blank"
        >
          Follow me <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-danger"
          href="https://github.com/users/mattlewis92/sponsorship"
          target="_blank"
        >
          Donate 💵
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #loading>
  <div class="card">
    <div class="card-body text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
      Loading demo...
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="row fill-height">
    <div
      class="col-md-9 col-xl-10 fill-height scroll-y"
      perfectScrollbar
      mwlDraggableScrollContainer
    >
      <div class="card" *ngIf="firstDemoLoaded; else loading">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6"><h3>{{ activeDemo.label }}</h3></div>
            <div class="col-md-6">
              <button
                class="btn btn-info pull-right"
                (click)="editInStackblitz(activeDemo)"
              >
                <i class="fa fa-edit"></i> Edit in Stackblitz
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="fa fa-fw fa-laptop"></i> Live demo
              </ng-template>
              <ng-template ngbTabContent>
                <div class="spacer-top"><router-outlet></router-outlet></div>
              </ng-template>
            </ngb-tab>

            <ngb-tab *ngFor="let source of activeDemo?.sources">
              <ng-template ngbTabTitle>
                <span [ngSwitch]="source.language">
                  <i class="fa fa-fw fa-html5" *ngSwitchCase="'html'"></i>
                  <i class="fa fa-fw fa-css3" *ngSwitchCase="'css'"></i>
                  <i class="fa fa-fw fa-code" *ngSwitchDefault></i>
                </span>
                {{ source.filename }}
              </ng-template>
              <ng-template ngbTabContent>
                <div class="code-container">
                  <button
                    class="btn btn-outline-primary copy-code"
                    (click)="copied()"
                    ngxClipboard
                    [cbContent]="source.contents.raw"
                    [ngbTooltip]="'Copy source'"
                    [placement]="'top-right'"
                  >
                    <i
                      class="fa"
                      [ngClass]="{'fa-copy': !(copied$ | async), 'fa-check': (copied$ | async) }"
                    ></i>
                  </button>
                  <pre><code [innerHTML]="source.contents.highlighted"></code></pre>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
    <div
      class="col-md-3 col-xl-2 fill-height sidebar-nav scroll-y"
      perfectScrollbar
    >
      <input
        type="search"
        class="form-control"
        placeholder="Search demos..."
        [(ngModel)]="searchText"
        (ngModelChange)="updateFilteredDemos()"
      />
      <ul class="list-unstyled spacer-top">
        <li *ngFor="let demo of filteredDemos">
          <a
            [routerLink]="[demo.path]"
            [class.active]="activeDemo?.path === demo.path"
          >
            {{ demo.label }}
          </a>
        </li>
      </ul>
      <em *ngIf="filteredDemos.length === 0">No matching demos found</em>
    </div>
  </div>
</div>
