$cal-event-color-primary: #1e90ff !default;
$cal-event-color-secondary: #d1e8ff !default;
$cal-border-color: #e1e1e1 !default;
$cal-bg-primary: #fff !default;
$cal-bg-secondary: #fafafa !default;
$cal-bg-active: #ededed !default;
$cal-today-bg: #e8fde7 !default;
$cal-weekend-color: #8b0000 !default;
$cal-badge-color: #b94a48 !default;
$cal-white: #fff !default;
$cal-gray: #555 !default;
$cal-black: #000 !default;

$cal-colors: () !default;
$cal-colors: map-merge(
  (
    event-color-primary: $cal-event-color-primary,
    event-color-secondary: $cal-event-color-secondary,
    border-color: $cal-border-color,
    bg-primary: $cal-bg-primary,
    bg-secondary: $cal-bg-secondary,
    bg-active: $cal-bg-active,
    today-bg: $cal-today-bg,
    weekend-color: $cal-weekend-color,
    badge-color: $cal-badge-color,
    white: $cal-white,
    gray: $cal-gray,
    black: $cal-black
  ),
  $cal-colors
);
