@use 'sass:map';
@use '../../../variables';

$cal-resource-week-view-vars: () !default;
$cal-resource-week-view-vars: map.merge(
  variables.$cal-vars,
  $cal-resource-week-view-vars
);

@mixin cal-resource-week-view-theme($overrides) {
  $theme: map.merge($cal-resource-week-view-vars, $overrides);

  .cal-resource-week-view {
    background-color: map.get($theme, bg-primary);
    border-top: solid 1px map.get($theme, border-color);

    .cal-day-headers {
      border-color: map.get($theme, border-color);
      border-top: 0;
    }

    .cal-day-headers .cal-header {
      &:not(:last-child) {
        border-right-color: map.get($theme, border-color);

        [dir='rtl'] & {
          border-right-color: initial;
          border-left: solid 1px map.get($theme, border-color) !important;
        }
      }

      &:first-child {
        border-left-color: map.get($theme, border-color);

        [dir='rtl'] & {
          border-left-color: initial;
          border-right-color: map.get($theme, border-color);
        }
      }
    }

    .cal-day-headers .cal-header:hover,
    .cal-day-headers .cal-drag-over {
      background-color: map.get($theme, bg-active);
    }

    .cal-day-column {
      border-left-color: map.get($theme, border-color);

      [dir='rtl'] & {
        border-left-color: initial;
        border-right-color: map.get($theme, border-color);
      }
    }

    .cal-event {
      background-color: map.get($theme, event-color-secondary);
      border-color: map.get($theme, event-color-primary);
      color: map.get($theme, event-color-primary);
    }

    .cal-header.cal-today {
      background-color: map.get($theme, today-bg);
    }

    .cal-header.cal-weekend span {
      color: map.get($theme, weekend-color);
    }

    .cal-time-events {
      border-color: map.get($theme, border-color);

      .cal-day-columns {
        &:not(.cal-resize-active) {
          .cal-hour-segment:hover {
            background-color: map.get($theme, bg-active);
          }
        }
      }
    }

    .cal-hour-odd,
    .cal-row-odd {
      background-color: map.get($theme, bg-secondary);
    }

    .cal-drag-over .cal-hour-segment {
      background-color: map.get($theme, bg-active);
    }

    .cal-hour:not(:last-child) .cal-hour-segment,
    .cal-hour:last-child :not(:last-child) .cal-hour-segment {
      border-bottom-color: map.get($theme, border-color);
    }
  }
}

.cal-resource-week-view {
  * {
    box-sizing: border-box;
  }

  .cal-day-headers {
    display: flex;
    padding-left: 130px;
    border: 1px solid;

    [dir='rtl'] & {
      padding-left: initial;
      padding-right: 130px;
    }
  }

  .cal-day-headers .cal-header {
    flex: 1;
    text-align: center;
    padding: 5px;

    &:not(:last-child) {
      border-right: 1px solid;

      [dir='rtl'] & {
        border-right: initial;
        border-left: 1px solid;
      }
    }

    &:first-child {
      border-left: 1px solid;

      [dir='rtl'] & {
        border-left: initial;
        border-right: 1px solid;
      }
    }
  }

  .cal-day-headers span {
    font-weight: 400;
    opacity: 0.5;
  }

  .cal-day-column {
    flex-grow: 1;
    border-left: solid 1px;

    [dir='rtl'] & {
      border-left: initial;
      border-right: solid 1px;
    }
  }

  .cal-event {
    font-size: 12px;
    border: 1px solid;
    direction: ltr;
  }

  .cal-time-label-column {
    width: 130px;
  }

  .cal-event,
  .cal-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cal-time-events {
    position: relative;
    border: solid 1px;
    border-top: 0;
    display: flex;

    .cal-day-columns {
      display: flex;
      flex-grow: 1;
    }

    .cal-day-column {
      position: relative;
    }

    .cal-events-container {
      position: relative;
    }

    .cal-event-container {
      position: absolute;
      z-index: 1;
    }

    .cal-event {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      margin: 1px;
      padding: 0 5px;
      line-height: 25px;
    }
  }

  .cal-hour-segment {
    position: relative;
    display: block;

    &::after {
      content: '\00a0';
    }
  }

  .cal-event-container {
    cursor: pointer;

    &.cal-draggable {
      cursor: move;
    }
  }

  .cal-drag-active {
    pointer-events: none;
    z-index: 1;

    & * {
      pointer-events: none;
    }
  }

  .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom: thin dashed;
  }

  .cal-time {
    font-weight: bold;
    padding-top: 7px;
    width: 130px;
    text-align: center;
    overflow-y: hidden;
    height: 100%;
  }
}

@include cal-resource-week-view-theme($cal-resource-week-view-vars);
