<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
    >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn != null"
    >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (columnHeaderClicked)="clickedColumn = $event"
    (dayClicked)="clickedDate = $event.day.date"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>
