<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3>{{ activeDemo?.label }}</h3>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-info pull-right"
                (click)="editInPlunker(activeDemo)">
                <i class="fa fa-edit"></i> Edit in Plunker
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">

          <ngb-tabset [destroyOnHide]="false">

            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="fa fa-fw fa-laptop"></i> Live demo
              </ng-template>
              <ng-template ngbTabContent>
                <div class="spacer-top"><router-outlet></router-outlet></div>
              </ng-template>
            </ngb-tab>

            <ngb-tab *ngFor="let source of activeDemo?.sources">
              <ng-template ngbTabTitle>
                <span [ngSwitch]="source.language">
                  <i class="fa fa-fw fa-html5" *ngSwitchCase="'html'"></i>
                  <i class="fa fa-fw fa-css3" *ngSwitchCase="'css'"></i>
                  <i class="fa fa-fw fa-code" *ngSwitchDefault></i>
                </span>
                {{ source.filename }}
              </ng-template>
              <ng-template ngbTabContent>
                <pre><code
                  mwlHighlightJs
                  [source]="source.contents"
                  [language]="source.language">
                </code></pre>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="sidebar-nav">
        <h4>Demos</h4>
        <ul class="list-unstyled">
          <li *ngFor="let demo of demos">
            <a
              [routerLink]="[demo.path]"
              [class.active]="activeDemo?.path === demo.path">
              {{ demo.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>