<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Angular 4.0+ calendar</title>
  </head>
  <body>
    <mwl-demo-app>Loading demo...</mwl-demo-app>
  </body>
</html>
