@use '@angular/cdk/overlay-prebuilt.css';
@use '@perfectmemory/ngx-contextmenu/src/assets/stylesheets/base';

.month-cell-fill-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
