@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'highlight.js/styles/github.css';
@import 'flatpickr/dist/flatpickr.css';
@import '../angular-calendar/src/angular-calendar';

@media (min-width: 768px) {
  body {
    overflow-y: hidden;
  }
}
