@import '~bootstrap-css-only/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~highlight.js/styles/github.css';
@import '~flatpickr/dist/flatpickr.css';
@import '../angular-calendar/src/angular-calendar.scss';
